* {
  padding: 0px;
  margin: 0px;
  border: border-box;
}
.Calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

.Calculator__display {
  width: 100vw;
  height: 20vh;
  font-size: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

 }
}
button {
  width:100px;
  height: 100px;
}
.keys {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .operations {
    
    justify-content: space-around;
  }
  .sen {
    
    justify-content: space-around;
  }
  .ffs {
  
    justify-content: space-around;
  }
  .ott {
    
    justify-content: space-around;
  }

}